In [2]:
## 경고 메세지 표시 안하기
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='malgun gothic')
plt.rcParams['axes.unicode_minus'] = False

In [5]:
manhattan = pd.read_csv("Data/manhattan.csv")

In [6]:
manhattan.head()

,rental_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,1545,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,Manhattan
1,2472,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,Manhattan
2,2919,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,Manhattan
3,2790,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,Manhattan
4,3946,17500,2.0,2,4800,3,4.0,136,0,0,0,1,1,1,0,1,Soho,Manhattan

In [7]:
manhattan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3539 entries, 0 to 3538
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_id         3539 non-null   int64
 1   rent              3539 non-null   int64
 2   bedrooms          3539 non-null   float64
 3   bathrooms         3539 non-null   int64
 4   size_sqft         3539 non-null   int64
 5   min_to_subway     3539 non-null   int64
 6   floor             3539 non-null   float64
 7   building_age_yrs  3539 non-null   int64
 8   no_fee            3539 non-null   int64
 9   has_roofdeck      3539 non-null   int64
 10  has_washer_dryer  3539 non-null   int64
 11  has_doorman       3539 non-null   int64
 12  has_elevator      3539 non-null   int64
 13  has_dishwasher    3539 non-null   int64
 14  has_patio         3539 non-null   int64
 15  has_gym           3539 non-null   int64
 16  neighborhood      3539 non-null   object
 17  borough           3539 non-null   object
dtypes: float64(2), int64(14), object(2)
memory usage: 497.8+ KB

In [8]:
from sklearn.model_selection import train_test_split

x = manhattan[['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor', 
                       'building_age_yrs', 'no_fee', 'has_roofdeck', 
                       'has_washer_dryer', 'has_doorman', 'has_elevator', 
                       'has_dishwasher', 'has_patio', 'has_gym']]
y = manhattan[['rent']]

In [10]:
# Data Set 분리 (Train:tets = 7:3 )

x_train, x_test, y_train, y_test = train_test_split(x,y,train_size = 0.7, test_size = 0.3)

In [11]:
x_train.head()

,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym
565,1.0,1,623,2,11.0,89,0,0,0,1,1,0,0,1
1117,0.0,1,450,3,1.0,106,0,0,1,0,0,0,0,0
1871,1.0,1,730,8,14.0,32,1,0,0,1,1,0,0,0
2701,2.0,2,968,2,12.0,28,1,0,0,0,0,0,0,0
2255,4.0,3,2132,2,10.0,86,0,1,1,0,1,1,0,0

In [12]:
from sklearn.linear_model import LinearRegression

# 학습 모델 생성 및 실행
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [13]:
y_predict = model.predict(x_test)

In [14]:
y_predict[:10]

array([[3219.03866012],
       [4911.21143168],
       [6385.79774184],
       [5323.78905402],
       [3870.28908512],
       [3367.97763007],
       [3220.18473848],
       [8230.76350814],
       [6398.75777238],
       [3263.36376684]])

In [15]:
y_test

       rent
3206   4027
603    4000
1949   5425
3323   4975
1250   1995
...     ...
2993   5400
1962   2850
234    6800
1912  10995
2393   6100

[1062 rows x 1 columns]

In [16]:
# 직접데이터를 입력하여 주택 임대료를 예측
my_apartment = [[1, 1, 620, 16, 1, 98, 1, 0, 1, 0, 0, 1, 1, 0]]
my_predict = model.predict(my_apartment)
my_predict

array([[2393.48550452]])