In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
names = ["age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "target"]
heart_data = pd.read_csv('Data/heart.csv', names=names)
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [5]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    object
 12  thal      303 non-null    object
 13  target    303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

In [6]:
heart_data = heart_data.dropna()

In [7]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [8]:
heart_data['ca'] = pd.to_numeric(heart_data['ca'], errors = 'coerce' ).fillna(0).astype(float)
heart_data['thal'] = pd.to_numeric(heart_data['thal'], errors = 'coerce' ).fillna(0).astype(float)

In [10]:
# errors = coerce : 숫자로 변환이 안되면 NaN으로 변환
# fillna(0) : NaN을 0 으로
# astype(float) : 실수현으로 변환

heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    float64
 12  thal      303 non-null    float64
 13  target    303 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 33.3 KB

In [11]:
X = heart_data.drop('target', axis = 1)
Y = heart_data['target']

In [18]:
scaler = StandardScaler()
heart_data_scaled = scaler.fit_transform(X)
print(heart_data_scaled[0])

[ 0.94872647  0.68620244 -2.25177456  0.75752504 -0.2649003   2.394438
  1.01668424  0.01719733 -0.69663055  1.08733806  2.27457861 -0.71113139
  0.65913253]

In [44]:
X_train, X_test, Y_train, Y_test = train_test_split ( X, Y, test_size = 0.4)

In [45]:
lr_heart_data = LogisticRegression()

In [46]:
lr_heart_data.fit(X_train, Y_train) #모델 훈련

LogisticRegression()

In [47]:
Y_predict = lr_heart_data.predict(X_test)

In [48]:
accuracy = accuracy_score(Y_test, Y_predict)
accuracy

0.6147540983606558

In [49]:
result_diff = pd.DataFrame({'actual' : Y_test, 'Predict' : Y_predict})
print(result_diff)

     actual  Predict
112       0        0
163       0        0
195       3        0
238       0        0
253       0        0
..      ...      ...
54        1        1
83        3        1
250       0        1
53        0        0
31        2        0

[122 rows x 2 columns]

In [51]:
new_data = np.array([63, 1, 3, 145, 233, 1, 0, 150, 0, 2.3 , 0, 0, 1])
new_data_scaled = scaler.transform(new_data.reshape(1,-1))

new_prediction = lr_heart_data.predict(new_data_scaled)
new_prediction

array([0], dtype=int64)

In [53]:
new_data = [[63, 1, 3, 145, 233, 1, 0, 150, 0, 2.3 , 0, 0, 1]]
new_data_scaled = scaler.transform(new_data)

new_prediction = lr_heart_data.predict(new_data_scaled)
new_prediction

array([0], dtype=int64)

In [54]:
# np.array 는 1차눤 배열로 Value 만 있고, [[]]는 2차원 배열로 0번열레 뭔가 컬럼이름 보유)
# reshape 는 2차원으로 변형해줌