In [3]:
eng = {'break':['깨지다', '부서지다'], 'bring':'가져오다', 
                  'brush':'붓', 'brush':'빗', 'brave':'용감한'}
print(eng['break'])
print(eng['break'][0])
print(eng['break'][1])
#print(eng['break'][2])
print(eng['brush'])

['깨지다', '부서지다']
깨지다
부서지다
빗

In [4]:
menu = {'김밥':2500, '참치김밥': 3500, '라면':3000, '치즈라면': 4000}
eat = input('어떤 메뉴를 드시겠습니까? ')
print(eat, menu[eat],'원 입니다.')

어떤 메뉴를 드시겠습니까? 라면
라면 3000 원 입니다.

In [5]:
menu = {'김밥':2500, '참치김밥': 3500, '라면':3000, '치즈라면': 4000}

name = input('추가할 메뉴는? ')
price = int(input('메뉴의 가격은? '))
menu[name] = price
print(menu)

추가할 메뉴는? 돈까스
메뉴의 가격은? 5500
{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000, '돈까스': 5500}

### 판다스

In [6]:
import pandas as pd

a = pd.Series([1, 2, 3, 4])
print(a)
b = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(b)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
dtype: int64